.messageWrapperActive {
  background: rgba(255, 111, 0, 0.3);
}
.messageWrapper,
.messageWrapperActive {
  border-bottom: 1px solid #e7e8e6;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.messageWrapper img,
.messageWrapperActive img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin: 0 2rem 0 0;
}
.messageContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  font-weight: 700;
}

.message {
  margin: 1rem 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #989993;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
}

/* thread */
.threadHeader {
  margin: 0 3rem;
}
.threadHeader svg {
  height: 2rem;
}
.receiver {
  display: flex;
  align-items: center;
}
.receiver img {
  height: 6rem;
  width: 6rem;
  z-index: 1;
  border-radius: 50%;
}
.receiver span {
  margin: 0 0 0 2rem;
  font-weight: 700;
}
.threadWrapper {
  padding: 4rem 0 0 0;
}
.threadWrapper div {
  margin: 0 0 3rem 0;
}
.ownerMessage,
.otherMessage {
  display: flex;
  flex-direction: column;
}
.threadWrapper span:nth-child(2) {
  font-size: 1.25rem;
  padding: 0.5rem 2rem 0 2rem;
}
.threadWrapper .ownerMessage {
  align-items: flex-end;
}

.ownerMessage span:first-child,
.otherMessage span:first-child {
  min-width: 20%;
  width: fit-content;
  max-width: 60%;
  border-radius: 20px;
  padding: 2rem;
}
.otherMessage span:first-child {
  background: #eee;
}
.ownerMessage span:first-child {
  background: #ff6f00;
  color: #eee;
}
.messageForm {
  position: fixed;
  bottom: 0;
  z-index: 3;
  background: rgba(245, 245, 245, 0.9);
  left: 0;
  max-width: 100%;
  min-width: 90%;
  height: 8rem;
  padding: 2rem 3rem;
}
.messageForm form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  z-index: 4;
}
.messageForm form div:last-child {
  width: fit-content;
  max-width: 15%;
}
.inputGroup {
  width: 100%;
  max-width: 100%;
  margin: 0 1.5rem;
}
.inputGroup textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  background: none;
}
.preview {
  height: 100%;
  width: auto;
  margin: 1rem 0;
}
.preview img {
  height: 100%;
  width: auto;
}
.messageForm svg {
  height: 3rem;
}
.fileInput input[type="file"] {
  opacity: 0;
  position: absolute;
  font-size: 1px;
}

.fileInput svg {
  height: 3rem;
  fill: #ff6f00;
}
