.edit-profile, .follow-prof {
    color: rgba(112, 112, 112, 0.6);
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.6);
    border-radius: 20px;
    padding: 3px;
}
.follow-prof {
    color: #f2f2f2;
    background: #ff6f00;
    border: none;
    padding: 5px;
}
.profile {
    display: flex;
    padding: 0 0 7px 0;
    justify-content: space-around;
}
.pbd {
    width: 30%;
    text-align: right;
}
.pro-owner {
    width: 70%;
    font-weight: bold;
    font-size: 18px;
}
.pro-des {
    color: #707070;
    font-size: 12px;
}
.det-text {
    padding: 0 0 0 5px;
}
.det-r {
    display: flex;
    width: 100%;
    padding: 5px 0 0 0;
}
.detail {
    font-size: 11px;
    fill: #707070;
    color: #707070;
    padding: 0 20px 0 0;
    width: 40%;
}
.bold {
    font-weight: bold;
}
.navs {
    font-size: 12px;
    color: #707070;
    text-align: center;
    padding: 5px 0 0 0;
}
.navs-link, .navs-link_active {
    width: 50%;
    float: left;
    border-bottom: 2px solid rgba(112, 112, 112, 0.3);
    cursor: pointer;
}
.selected {
    font-weight: bold;
    color: #ff6f00;
    border-bottom: 2px solid #ff6f00;
}
